<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<div class=container>
<a href="/">Home</a> || <a href="edit/">Edit Ticket</a> || <a href="inprogress/">Assign to Me</a> || <a href="completed/">Mark as Complete</a> || <a href="invalid/">Mark as Invalid</a><br>

    Title: {{ticket.title}}<br>
    Description: {{ticket.description}}<br>
    Filed By: {{ticket.filed_by}}<br>
    Date/Time Filed: {{ticket.date_time}}<br>
    Ticket Status: {{ticket.ticket_status}}<br>
    Assigned To: {{ticket.assigned_to}}<br>
    Completed By: {{ticket.completed_by}}<br>

<p>Status Codes: N=New, P=In Progress, C=Complete, I=Invalid</p>                    
</div>